import(methods)
import(BiocGenerics)
import(Biostrings)
importFrom(seqLogo, makePWM, plot)
importFrom(evd, fgev, pgev)
importFrom(gdata, trim)
exportClasses(PWM)
exportClasses(PWMLognBackground)
exportClasses(PWMCutoffBackground)
exportClasses(PWMEmpiricalBackground)
exportClasses(PWMGEVBackground)
exportClasses(MotifEnrichmentResults)
export(makePriors)
export(makePWMLognBackground)
export(makePWMCutoffBackground)
export(makePWMEmpiricalBackground)
export(makePWMPvalCutoffBackground)
export(makePWMGEVBackground)
export(makeBackground)
export(getBackgroundFrequencies)
export(motifDiffEnrichment)
exportMethods(motifRankingForGroup)
exportMethods(motifRankingForSequence)
exportMethods(plotTopMotifsGroup)
exportMethods(plotTopMotifsSequence)
export(registerCoresPWMEnrich)
export(useBigMemoryPWMEnrich)
exportMethods(plot)
export(plotMultipleMotifs)
export(seqLogoGrid)
exportMethods(reverseComplement)
export(PWMUnscaled)
export(scanWithPWM)
export(PFMtoPWM)
export(motifScores)
export(motifIC)
export(motifEnrichment)
export(readMotifs)
export(motifSimilarity)
