import(methods)
import(BiocGenerics)
import(Biostrings)
import(grid)
importFrom(S4Vectors, metadata)
importFrom(seqLogo, makePWM, plot)
importFrom(evd, fgev, pgev)
importFrom(gdata, trim)
exportClasses(MotifEnrichmentReport)
exportClasses(MotifEnrichmentResults)
exportClasses(PWM)
exportClasses(PWMCutoffBackground)
exportClasses(PWMEmpiricalBackground)
exportClasses(PWMGEVBackground)
exportClasses(PWMLognBackground)
export(getBackgroundFrequencies)
export(makeBackground)
export(makePriors)
export(makePWMCutoffBackground)
export(makePWMEmpiricalBackground)
export(makePWMGEVBackground)
export(makePWMLognBackground)
export(makePWMPvalCutoffBackground)
export(makePWMPvalCutoffBackgroundFromSeq)
exportMethods(as.data.frame)
exportMethods(groupReport)
exportMethods(motifRankingForGroup)
exportMethods(motifRankingForSequence)
exportMethods(plot)
exportMethods(plotTopMotifsGroup)
exportMethods(plotTopMotifsSequence)
exportMethods(reverseComplement)
exportMethods(sequenceReport)
export(motifDiffEnrichment)
export(motifEcdf)
export(motifEnrichment)
export(motifIC)
export(motifScores)
export(motifSimilarity)
export(PFMtoPWM)
export(plotMotifScores)
export(plotMultipleMotifs)
export(PWMUnscaled)
export(readMotifs)
export(registerCoresPWMEnrich)
export(scanWithPWM)
export(seqLogoGrid)
export(useBigMemoryPWMEnrich)
export(toPWM)
